*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#profilesettings
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4.5rem;
}
#profilechanges
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color:#6695FF;
    border-radius: 1.5rem;
    padding: 4rem;
}
#image
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2.5rem;
}
img
{
    height:18.6rem;
    width:20rem;
}
#upload
{
    background-color: black;
    color: white;
}
#options
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3.5rem;
}
#input
{
    display: flex;
    flex-direction: column;
    width: 40rem;
    gap: 3.5rem;
}
input
{
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
}
button
{
    padding: 0.5em 1.5em;
    border: 0;
    border-radius: 1.0rem;
}
#save
{
    font-size: 1.5rem;
    background-color: #407BFF;
}
#cancel
{
    font-size: 1.5rem;
    background-color: #F40D11;
    padding: 0.5em 3.19em;
}
#delete a
{
    font-size: 1.5rem;
    color:black;
    margin: 5px;
}